.checkbox-ct-wrapper {
  align-items: flex-start !important;

  .checkbox-ct-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: $size-30;
  }
  .checkbox-ct-title {
    margin-bottom: $size-8 !important;
    font-weight: 600;
  }
  .checkbox-suffix {
    font-weight: normal;
    font-size: $size-14;
    line-height: $size-22;
    color: $gray-8;
  }

  .checkbox-title {
    margin-bottom: $size-24;
    font-weight: 600;
    font-size: $size-16;
    line-height: $size-24;
    display: flex;
    align-items: center;

    color: $gray-9;
  }
  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0;
  }
  .date-sub-component {
    padding: $size-8 0 0 $size-24;
  }
}
