.info-table{
    &-main{
        position: relative;
        .edit-button{
            position: absolute;
            right: 0;
        }
    }
    &-main:hover{
        .edit-button{
            display: flex !important;
        }
    }
    &-column{
        padding: $size-8 $size-12;
        white-space: pre-line;
    }
    &-row{
        flex-flow: nowrap;
    }
    &-row.odd-row{
        background-color: $gray-3;
    }
}