.input-baseline-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  &-header {
    padding: $size-14 $size-28 0 $size-24;
    .close-button {
      outline: none;
      box-shadow: none;
      border: none;
      padding: 0;
    }
    .close-button:hover {
      color: unset !important;
    }
    .step {
      color: $gray-8;
    }
  }
  &-content {
    height: 100%;
    overflow: auto;
    padding: $size-24 25% $size-32 25%;
  }
  .input-baseline-show-steps {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
