.md-notification-report-triggers-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .trigger-title {
    margin-top: $size-4;
    font-size: $size-14;
    line-height: $size-22;
    display: flex;
    align-items: center;
    color: $gray-9;
    font-weight: 600;
  }
}
