.blue-1-bg-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $size-22;
  padding: 0 $size-4;
  .blue-1-bg-row-value {
    color: $blue-7;
    font-weight: normal;
    font-size: $size-14;
    line-height: $size-22;
  }
  .blue-1-bg-row-button {
    display: none;
  }
}
.blue-1-bg-row-wrapper:hover {
  background-color: $blue-1;
  .blue-1-bg-row-button {
    display: flex;
  }
}
